.navbar{
    background: yellow;
    width: 100%;
    height: 70px;
        
}
.boton{
    width: 30px;
   
}

.navlink{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px;
}
.bar{
    background: green;
    padding: 10px 20px;
    border-radius: 20px;
}
.contenedor{
    background: gray;
    width: 100%;
    height: 70px;
    color: white;
    
}
.head{
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 30px;
    padding: 20px;
    font-size: 1.5rem;
    margin: auto;
}
.contenedor1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}


.electrodomesticos{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.anuncio{
    background-color: green;
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 2rem;
    color: white;
}
.televisores{
    display:flex;
    justify-content: space-around;
    margin-top: 20px;
}
.muebles{
    display:flex;
    justify-content: space-around;
    margin-top: 20px;
    
}
footer{
    background: black;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
    margin-top: 20px;
}
.compra{
    background: orange;
    padding: 10px 2px;
    color: white;
   text-align: center;
    border-radius: 20px;
}
.lavadora{
    display: grid;
   grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
